<div class='col-md-4'>
	<div class='product-card'>
		<div class='product-card-head'>
			<img src="{{ image }}" />
		</div>
		<div class='product-card-body'>
			<h3>
				<a href="/{{ route }}">{{ title }}</a>
			</h3>
			<div class='product-card-desc'>
				<h2>MRP. {{ currency }} {{ price }}</h2>
				<h3>{{ weight }}</h3>
				<a href='/add-product?new=1&title={{ title }}' class='product-button'>Modify</a>
			</div>
		</div>
	</div>
</div>
<!-- this is a sample default list template -->
